extend base

block content
    if errorMessage
        span=errorMessage
    form(method="POST" , enctype="multipart/form-data").edit-profile__form
        span My Avatar
        div.thumbnail_box
            div#image_container
                if loggedInUser.avatarUrl !== "noImg"
                    img(src=loggedInUser.avatarUrl crossorigin)
                else 
                    div.noImg__avatar
                        i.fas.fa-user
        label(for="avatar") Avatar File
        input(type="file", id="avatar" , name="avatar" , accept="image/*")
        input(placeholder="Name" name="name" , type="test", required, value=loggedInUser.name)
        input(placeholder="Email" name="email" , type="email", required, value=loggedInUser.email)
        input(placeholder="Username" name="username" , type="text", required, value=loggedInUser.username)
        input(placeholder="Location" name="location" , type="text", required, value=loggedInUser.location)
        input(type="submit" , value="Update Profile")
        if !loggedInUser.socialOnly
            div.edit-profile__password
                a(href="change-password") Change Password &rarr;
    
block scripts
    script(src="/static/js/modify.js")